* {
  font-family: 'Poppins', sans-serif;
}

.logo {
  object-fit: fill;
  display: block;
  text-align: center;
  padding: 1rem;
}

.text-coral {
  color: #fbaa30;
  text-decoration: none !important;
  text-align: end;
}

.card {
  outline: 1px transparent;
  border: 1px transparent;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.text-green {
  color: #0d5b00;
  margin-left: 2rem;
}

.count {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(91, 0, 0, 0.202);
}

.footer-text {
  font-size: 0.8rem;
}
